<!DOCTYPE html>
<html>
<head>
  <title>Ordenando Números</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <style>
    body{
        padding: 20px;
    }
  </style>
</head>
<body>
  
  
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="index.html">Início</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="index.html">Parte 1</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="receitas.html">Parte 2</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="usuarios.html">Parte 3</a>
              </li>
            </ul>
        
          </div>
        </div>
      </nav>


  <br><br>

  <h1 class="h1">Ordenando Números</h1>

  <br><br>

  <div id="app">
    <form>
      <div class="mb-3">
        <label for="exampleInputNumber" class="form-label">Valor</label>
        <input type="number" class="form-control" id="exampleInputNumber" v-model="newNumber">
      </div>
      
      <button type="button" class="btn btn-primary" @click="addNumber">Adicionar</button>
      <button type="button" class="btn btn-primary" @click="clearNumbers">Limpar</button>
    </form>

    <br>

    <form>
      <fieldset>
        <div class="mb-3">
          <select id="disabledSelect" class="form-select" v-model="sortingAlgorithm">
            <option value="bubbleSort" selected>Bubble Sort</option>
            <option value="selectionSort">Selection Sort</option>
            <option value="quickSort">Quick Sort</option>
          </select>
        </div>
        <button type="button" class="btn btn-primary" @click="sortNumbers">Ordenar</button>
        <button type="button" class="btn btn-primary" @click="shuffleNumbers">Misturar</button>
      </fieldset>
    </form>

    <br>

    <ul>
      <li v-for="number in numbers">{{ number }}</li>
    </ul>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>

  <script src="ordenando.js"></script>

  

</body>
</html>
